/*Change the bos model*/
html *{
    box-sizing: border-box;
    
    }

*:before, *:after{
    box-sizing: border-box;
    }
    
body{
    
    font-family: Helvetica,Arial,sans-serif;
    background-color: #FFF;

    }

.divbar{
    background-color:slategray;
    margin: 0px;
    position: relative;
    text-align: center;
    padding: 0px;
    min-width: 433px;
    }

.n{
    font-size: 15px;
    position: relative;
    right: 20px;
    
    
    }

footer{
    background-color: gray;
    padding: 10px;
    margin: 0px;
    position: relative;
    min-width:433px;
    text-align: center;
    }

.head{
    text-align: inherit;
    background-color: #FFFFFF;
}

#summary{
    background-color: #FFFFFF;
    list-style-type: none;
    position: relative;
    right: 50px;
    }

#hour{
    background-color:#FFFFFF;
    display: none;
    position: relative;
    }

#search{
    margin: auto;
    }

#wire{
    position: absolute;
    left: 5px;
    
    }


#wire{
     width: 400px;
    margin: auto;
    }
#tablet{
    display: none;
}
#sun{
    position: relative;
    left: 25px;
    border: 2px solid black;
    background-color: cornflowerblue;
    
}

nav{
    }

li {
    display: inline;
    }
@media only screen and (min-width: 500px) {
    /*.divbar{ width: 100%; padding: 5px;}
    footer{ width: 100%;}
    footer{ width 250%; padding: 20px; text-align: center;}*/
    #hour{display: block; position: relative; font-size: 20px; width: 200px; text-align: center;}
    .sum{ position: relative; left: 0px; font-size: 20px; width: 200px; text-align: center;}
    h3.head{font-size: 20px;}
    #sun{position: absolute; left: 230px; width: 65%;}
    #wire{display: none;}
    #tablet{display: block; width: 40%;}
}
@media only screen and (min-width: 1024px) {
    #sun{position: absolute; left: 350px; width: 45%; }
    .sum{font-size: 30px; min-width: 300px; text-align: left}
    h2{font-size: 30px;}
    h3.head{position: relative; left: 1100px; bottom: 260px; font-size: 30px; max-width: 230px}
    #hour{position: relative; left: 1040px; bottom: 250px;font-size: 25px; min-width: 300px}
    
    
    
}

