/*Change the bos model*/
html *{
    box-sizing: border-box;
    }

*:before, *:after{
    box-sizing: border-box;
    }
    
body{
     font-family: Helvetica,Arial,sans-serif;
    background-color: #FFF;
        }

.main{ 
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    }

.sun{
    order: 2;
}

.p{
    display: none;
    text-align: center
   }

.wires{
    width: 200px
}

#tablet, #desk{
    display: none;
}

.divbar{
    background-color:slategray;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    
    
    }
li {
    display: flex;
    flex-wrap: wrap-reverse;
    font-size: 20px;
}
.head{
    width: 100%;
    text-align: center;
}

@media only screen and (min-width: 500px) {
    
    #wire{display: none;}
    #tablet{display: flex; width: 75%;}
    .p{ display: flex; padding: 50px; font-size: 20px; justify-content: center;}
    .main{flex-flow: row wrap; justify-content: center; align-items:baseline;}
    .sun{width: 20em; margin-right: 200px; margin-left: 200px; }
    #long{display: none}
}

@media only screen and (min-width: 1024px) {
    
    #long{display: flex;}
    .main{ flex-flow: row wrap; justify-content: center; align-items: center}
    .sun{width: 20em; margin-right: 0px; margin-left: 0px;}
    #sunny{width: 30em; max-width: 300px}
    #tablet{display: none;}
    #desk{display: flex; width: 40em;}
    
}
    


